.expense-description{
    border-color: #3b8bba;
    background-color: #3b8bba;
    height: 21px;
    width: 50px;
    text-align: center;
    display: inline-block
}

.income-description{
    border-color: #c1c7d1;
    background-color: #c1c7d1;
    height: 21px;
    width: 50px;
    text-align: center;
    display: inline-block
}