body{
    font-family: 'Arial' !important;
    background-color: white;
}

/*navbar start*/

@media(min-width:768px) {

    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
}

/* Side Navigation */

@media(min-width:768px) {

    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 2px 10px;
    }

    .side-nav {
        position: fixed;
        top: -21px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #471481;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
        margin-top: 20px;
    }

    .side-nav>li>a {
        width: 225px;
        border-bottom: 1px solid white;
        margin-top: 15px;
    }
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #616060 !important;
}

.navbar-ex1-collapse{
    background-color: #fff;
}

.logostyle{
    width: 50%;
    max-width: 186px;
    margin-top: 10px;
    margin-left: 55px;
}

.navbar-inverse .navbar-nav > li > .active{
    border-left: 3px solid white;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 12px 15px;
    margin-right: 15px;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: transparent;
    border-color: white;
}

a {
    color: white;
    text-decoration: none;
}

.form-control-serch {
    height: 32px;
    padding: 0px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px 22px 22px 0px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.search-btn-icon{
    background-color: #fff;
    border:1px solid #E8E8E8;
    border-right: transparent !important;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 32px;
    margin-left: 200px;
}

.search-box{
    border-left:transparent !important;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border:1px solid #E8E8E8;
    height: 32px;
}

.fasett {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 25px;
    text-rendering: auto;
    color: white;
    margin-top: 10px;
    margin-right: 30px;
    cursor: pointer;
}


.editpro h5 {
    margin-right: 15px;
    margin-top: 15px;
    color: white;
}

/*navbar end*/
@media screen and (max-device-width: 640px) {

    .search-btn-icon{
        background-color: #fff;
        border:1px solid #E8E8E8;
        border-right: transparent !important;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        height: 32px;
        margin-left: 115px;
    }

    .editpro h5 {
        margin-right: 12px;
        margin-top: 15px;
        color: white;
        margin-left: 158px;
    }

    .dashhead h1{
        margin-top: 180px;
    }
}
.navbar-nav {
    float: left;
    margin: 0 0 0 -225px;
}
.btn-main{
    background-color: #3a106b;
    border-color: #3a106b;
    color: white;
}
.btn-main:hover{
    background-color: #3a106b;
}
.text-color{
    color: #3a106b;
}
.btn-delete{
    background-color: #c82333;
    border-color: #c82333;
}
.btn-delete:hover{
    background-color: #c82333;
}
.text-white{
    color: white;
}
.nav>li>a:hover{
    background-color: #471481;
    color: red;
}
.text-expense{
    color: #ff132a;
}
.text-income{
    color: #63de26;
}
.btn:hover{
    color:white;
}
.table-total{
    border-collapse: collapse;
    float: right;
}
.table-total td, th {
    border: 1px solid #dddddd;
    padding: 8px;
}
.select2-selection{
    text-align: left;
}
.select2-selection {
    min-height: 35px;
}
.text-red{
    color: red;
}