/* #####################################################################
   #
   #   Project       : Modal Login with jQuery Effects
   #   Author        : Rodrigo Amarante (rodrigockamarante)
   #   Version       : 1.0
   #   Created       : 07/28/2015
   #   Last Change   : 08/02/2015
   #
   ##################################################################### */

@import url(http://fonts.googleapis.com/css?family=Roboto);

* {
    font-family: 'Roboto', sans-serif;
}

#login-modal .modal-dialog {
    width: 350px;
}

#login-modal input[type=text], input[type=password] {
    margin-top: 10px;
}

#div-login-msg,
#div-lost-msg,
#div-register-msg {
    border: 1px solid #dadfe1;
    height: 30px;
    line-height: 28px;
    transition: all ease-in-out 500ms;
}

#div-login-msg.success,
#div-lost-msg.success,
#div-register-msg.success {
    border: 1px solid #68c3a3;
    background-color: #c8f7c5;
}

#div-login-msg.error,
#div-lost-msg.error,
#div-register-msg.error {
    border: 1px solid #eb575b;
    background-color: #ffcad1;
}

#icon-login-msg,
#icon-lost-msg,
#icon-register-msg {
    width: 30px;
    float: left;
    line-height: 28px;
    text-align: center;
    background-color: #dadfe1;
    margin-right: 5px;
    transition: all ease-in-out 500ms;
}

#icon-login-msg.success,
#icon-lost-msg.success,
#icon-register-msg.success {
    background-color: #68c3a3 !important;
}

#icon-login-msg.error,
#icon-lost-msg.error,
#icon-register-msg.error {
    background-color: #eb575b !important;
}

#img_logo {
    max-height: 100px;
    max-width: 100px;
}

/* #########################################
   #    override the bootstrap configs     #
   ######################################### */

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
}

.modal-content {
    background-color: #ececec;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
}

.modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
}

.modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
}

.checkbox {
    margin: 0px 0px 0px -82px;
}

.btn {
    border-radius: 0px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.btn-lg, .btn-group-lg>.btn {
    border-radius: 0px;
}

.btn-link {
    padding: 5px 10px 0px 0px;
    color: #95a5a6;
}

.btn-link:hover, .btn-link:focus {
    color: #2c3e50;
    text-decoration: none;
}

.glyphicon {
    top: 0px;
}

.form-control {
    border-radius: 0px;
}
.btn-create{
    float: left;
    border-radius: 8px;
    margin: 0px 0px 0px 16px
}
.message-success{
    width: 80%;
    display: inline-block;
    text-align: left;
}
.btn:hover, .btn:focus, .btn.focus{
    color: white;
}
.category_avatar{
    height: 35px;
    width: 35px;
    border: 1px solid white;
    border-radius: 50px;
    float: left
}
.float-left{
    float: left;
}
.float-right{
    float: left;
}
.btn-filter{
    float: left;
    margin:-6px 0 0 15px;
}
.checkbox-filter{
    float: left;
    margin: 0px;
}
.date-range{

    padding: 15px;
    padding-bottom: 13px;
}
.label-filter{
    float: left;
    margin: 4px;
}
.btn {
    border-radius: 4px;
}
.select2-selection{
    /*margin: 0 0 0 140px;*/
}
.select2-dropdown{
    /*margin: 0 0 0 140px;*/
    width: 304px;
}
.filter-chart-btn{
    text-align: left;
    display: inherit;
    margin-left: 96px;
}
.border-chart{
    border: 1px solid grey;
    border-radius: 4px;
}
a {
    color: white;
    text-decoration: none;
}
.nav>li>a:hover{
    background-color: #471481;
    text-decoration: none;
    padding: 10px 15px;
}
.label-filter-daterange{
    margin: 8px -23px 0 15px;
}
.category-filter{
    float: left;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 34px;
}
.chart-description-label{
    color: #ffeaea;
    line-height: 35px;
}
.chart-description-div {
    height: 38px;
    width: 87px;
    float: left;
    margin: 10px;

}